.creatPostContainer{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    margin: 10vh 15vw;
    z-index: 13;
}

.createPostForm{
    height: inherit;
    width: inherit;
}

#createPostImagePreview{
    height: 80%;
    margin: 0 calc(100% - 80%);
    border: 1px solid black;
    object-fit: cover;
}

.createPostCloseButton{
    position: absolute;
    top: 0;
    right: 0;
}

#createPostForm{
    height: 100%;
    width: 100%;
}